version: "3.9"

services:
  backend:
    build:
      context: .
      dockerfile: Dockerfile.backend
    container_name: devopslab-backend
    ports:
      - "3000:3000"
    networks:
      - devopsnet

  frontend:
    build:
      context: .
      dockerfile: Dockerfile.frontend
    container_name: devopslab-frontend
    ports:
      - "8080:80"
    depends_on:
      - backend
    networks:
      - devopsnet

networks:
  devopsnet:
    driver: bridge
